<nav class="pagination is-right" role="navigation">
  <ul class="pagination-list">
    <li>
      <button
        class="pagination-previous"
        (click)="onPreviousPage()"
        [disabled]="currentPage === 1"
      >
        Previous
      </button>
    </li>

    <li class="pagination-link">
      {{ currentPage }}
    </li>

    <li><span class="pagination-ellipsis">/</span></li>

    <li class="pagination-link">
      {{ allPagesNumber }}
    </li>

    <li>
      <button
        class="pagination-next"
        (click)="onNextPage()"
        [disabled]="currentPage === allPagesNumber"
      >
        Next
      </button>
    </li>
  </ul>

  <button
    class="pagination-link"
    (click)="onFirstPage()"
    [disabled]="currentPage === 1"
  >
    First
  </button>

  <button
    class="pagination-link"
    [disabled]="currentPage === allPagesNumber"
    (click)="onLastPage()"
  >
    Last
  </button>
</nav>
