.page-not-found {
  height: 100vh;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.notification {
  padding: 1.25rem 2.5rem 1.25rem 2.5rem;
}
