<div *ngIf="loading | async">
  <app-spinner></app-spinner>
</div>

<div class="container" *ngIf="postsPerPage">
  <div *ngFor="let post of postsPerPage">
    <article class="message is-info">
      <div class="message-header">
        <p>
          <a routerLink="/posts/{{ post.id }}">
            {{ post.title | titlecase }}
          </a>
        </p>
        <button class="delete" aria-label="delete"></button>
      </div>
      <div class="message-body">
        {{ post.body | titlecase }}
      </div>
    </article>
  </div>

  <app-pagination
    [allPagesNumber]="allPages"
    (changePage)="onPageChange($event)"
  ></app-pagination>
</div>
