.container {
  margin-top: 20px !important;
}

.message {
  margin-bottom: 20px;

  .message-header > p > a {
    text-decoration: none;
  }

  .message-header > p > a:hover {
    color: #d4d4d4;
    transition: linear 0.2s;
  }
}
