<div *ngIf="loading | async">
  <app-spinner></app-spinner>
</div>

<div class="container" *ngIf="postsPerPage">
  <div class="card" *ngFor="let post of postsPerPage">
    <div class="card-content">
      <p class="title">
        {{ post.title | titlecase }}
      </p>
      <p class="subtitle">{{ post.body | titlecase }}</p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <span>Edit</span>
      </p>
      <p class="card-footer-item">
        <span>Comments</span>
      </p>
    </footer>
  </div>

  <app-pagination
    [allPagesNumber]="allPages"
    (changePage)="onPageChange($event)"
  ></app-pagination>
</div>
