<div *ngIf="loading | async">
  <app-spinner></app-spinner>
</div>

<div class="container" *ngIf="post | async">
  <button class="button is-info is-light">
    <a routerLink="/posts">Return to post listing</a>
  </button>
  <div>
    <article class="message is-info">
      <div class="message-header">
        <p>
          {{ (post | async).title }}
        </p>
      </div>
      <div class="message-body">
        {{ (post | async).body }}
      </div>
    </article>
  </div>
  <div class="content comments" *ngIf="comments | async">
    <h3>Comments</h3>
    <div *ngFor="let comment of comments | async" class="comment">
      <article class="message is-info">
        <div class="message-body">
          <p><strong>Author</strong>: {{ comment.email }}</p>
          <p class="comment-body">
            {{ comment.body }}
          </p>
        </div>
      </article>
    </div>
  </div>
</div>
